__pycache__/__init__.cpython-311.pyc
__pycache__/admin.cpython-311.pyc
__pycache__/apps.cpython-311.pyc
__pycache__/backends.cpython-311.pyc
__pycache__/logging.cpython-311.pyc
__pycache__/models.cpython-311.pyc
__pycache__/urls.cpython-311.pyc
__pycache__/UserModel.cpython-311.pyc
forms/__pycache__/__init__.cpython-311.pyc
forms/__pycache__/FizForm.cpython-311.pyc
forms/__pycache__/LoginForm.cpython-311.pyc
forms/__pycache__/UrForm.cpython-311.pyc
migrations/__pycache__/__init__.cpython-311.pyc
migrations/__pycache__/0001_initial.cpython-311.pyc
migrations/__pycache__/0002_alter_fizuser_options_alter_uruser_options_and_more.cpython-311.pyc
migrations/__pycache__/0003_fizuser_balance_uruser_balance.cpython-311.pyc
logs/authentication.log.2024-01-09
models2/__pycache__/__init__.cpython-311.pyc
models2/__pycache__/Email.cpython-311.pyc
views/__pycache__/activate.cpython-311.pyc
views/__pycache__/email.cpython-311.pyc
views/__pycache__/login.cpython-311.pyc
views/__pycache__/logout.cpython-311.pyc
views/__pycache__/main.cpython-311.pyc
views/__pycache__/register.cpython-311.pyc
